<%- include('./partials/header') %>
<%- include('Navbar') %>


<!-- <% if(data!=0) { %> -->

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">City</th>
        <th scope="col">Postcode</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
    <tbody>
      <% data.forEach((row,index) => { %>

      
      <tr>
        <th scope="row"> <%= index %> </th>
        <td> <img src="images/<%= row.image %>" width="50px" height="50px" alt='image'/> 
         <%= row.name %> </td>
        <td> <%= row.email %> </td>
        <td> <%= row.phone %> </td>
        <td> <%= row.city %> </td>
        <td> <%= row.postcode %> </td>
        <td id="<%= row._id %>" ><a href="retdata/<%= row._id %>"  type="button" class="btn btn-success">Update</a></td>
        <td id="<%= row._id %>" ><a href="delete/<%= row._id %>"  type="button" class="btn btn-danger">Delete</a></td>
      </tr>

      <%} )%>

    </tbody>
  </table>

  <% } 
  else {%>
    <div>
      <p>data not found!</p>
    </div>
    <%}%>

  <%- include('./partials/footer') %>